/* Select style here */

select {
    margin: 0 auto;
    color: $color4;
    height: 40px;
    cursor: pointer;
    z-index: 2;
    width: 182px;
    transition: all 0.3s;
    border: 1px solid darken(#F2F2F2, 5%);
}

select:hover {
    background-color: white;
    color: $color5;
    border: 1px solid $color3;
}